.form {
    position: relative;
    height: 750px;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.title-form {
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    font-size: 30px;
    font-weight: 300;
}

.content-form {
    padding: 24px;
}

.action-form {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: inherit;
    padding: 16px 24px;
}


a {
    color: #01579b;
}

/*
    Cor dos checkboxes
    |||||||||||||||||||||||||
    v     v     v     v     v
*/

[type="checkbox"]:checked + span:not(.lever):before {
    border-right: 2px solid #01579b;
    border-bottom: 2px solid #01579b;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus,
.input-field input[type=number]:focus {
    border-bottom: 1px solid #01579b !important;
}

.input-field .prefix.active {
    color: #01579b;
}

.input-field .prefix {
    color: grey;
}
