html,
body {
	height: 100%;
	margin: 0;
	font-size: 16px;
}

main {
	padding-left: 200px;
}

/*
body {
    background: url('../img/background3.jpeg') center center no-repeat fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
*/

@media only screen and (max-width: 600px) {
	a.sidenav-trigger.top-nav {
		left: 0;
	}

}

@media only screen and (max-width: 992px) {
	h1 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	h5 {
		font-size: 1rem;
	}

	header,
	main,
	footer {
		padding-left: 0;
	}

	.header {
		padding-top: 40px !important;
	}

	div.nav-wrapper {
		text-align: center;
	}
}


.header {
	font-weight: 300;
}

.form {
	position: relative;
	height: 750px;
	margin: .5rem 0 1rem 0;
	background-color: #fff;
	-webkit-transition: -webkit-box-shadow .25s;
	transition: -webkit-box-shadow .25s;
	transition: box-shadow .25s;
	transition: box-shadow .25s, -webkit-box-shadow .25s;
	border-radius: 2px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.title-form {
	display: block;
	line-height: 32px;
	margin-bottom: 8px;
	font-size: 35px;
	font-weight: 300;
}

.content-form {
	padding: 24px;
}

.action-form {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: inherit;
	padding: 16px 24px;
}


a {
	color: #01579b;
}

/*
    Cor dos radio buttons, paginacão, calendadrio, e selecionador de horario
    |||||||||||||||||||||||||
    v     v     v     v     v
*/

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after,
.pagination li.active,
.datepicker-date-display,
.timepicker-digital-display,
.datepicker-table td.is-selected {
	background-color: #01579b;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
	border: 2px solid #01579b;
}

/*
    Cor dos options dos selects
    |||||||||||||||||||||||||
    v     v     v     v     v
*/
.dropdown-content li > a,
.dropdown-content li > span {
	color: black;
}

/*
    Cor dos checkboxes
    |||||||||||||||||||||||||
    v     v     v     v     v
*/

[type="checkbox"]:checked + span:not(.lever):before {
	border-right: 2px solid #01579b;
	border-bottom: 2px solid #01579b;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus,
.input-field input[type=number]:focus {
	border-bottom: 1px solid #01579b !important;
}

.input-field .prefix.active {
	color: #01579b;
}

.input-field .prefix {
	color: grey;
}

#type-vehicle {
	padding-top: 15px;
}